version: '3'
services:
  db:
    image: "postgres:10.12-alpine"
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: postgress
      POSTGRES_USER:     journal
      POSTGRES_DB:       journal
